* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



:root {
    --white: white;
    --themegreen: #31dbc7;
    --gray: gray;
    --black: black;
}

.a-tag {
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.btn-group {
    display: flex;
    gap: 50px;
}

.btn-group li {
    list-style: none;
    cursor: pointer;
}

.btn-group a {
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.grow-ul:hover {
    color: var(--themegreen);
}

.cv button {
    background-color: var(--themegreen);
    border: none;
    border-radius: 2px;
    padding: 7px 6px 7px 6px;
}

/* Hero section Style */

.hero {
    color: var(--white);
    display: flex;
    padding-top: 30px;
}

.introduction {
    width: 50%;
}

.name {
    padding-top: 20px;
    color: var(--white);
}

.name span {
    color: var(--themegreen);
}

.text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    /* border: 1px solid var(--themegreen); */
    width: 200px;
    height: 200px;
    border-radius: 200px;
    /* box-shadow: 2px 2px 3px var(--white); */
    box-shadow: var(--themegreen) -5px 0px 15px 1px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 250px;
    object-fit: cover;
}

.skillset {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.skillset p {
    font-size: 17px !important;
}

.find-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .find-me a{
    border: none;
    background-color: var(--black);
    color: var(--white);
    width: 30px;
    height: 30px;
    padding: 5px 10px 10px 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px var(--gray);
} */

/* .find-me a{
    border: none;
    background-color: var(--black);
    color: var(--white);
    width: 30px;
    height: 30px;
    padding: 5px 10px 10px 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px var(--gray);
} */

.find-me i {
    font-size: 25px;
}

.find-me i:hover {
    color: var(--themegreen);
    font-size: 22px;
}

/* .find-me button:hover {
   box-shadow: 2px 2px  2px var(--white);
} */

.my-skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-skill,
.find-me p {
    font-size: 10px;
}

.skill-icon {
    display: flex;
    gap: 10px;
}

.skill-icon a {
    border: none;
    background-color: var(--black);
    color: var(--white);
    width: 35px;
    height: 32px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px var(--gray);
}


.skill-icon i {
    font-size: 20px;
}

.skill-icon i:hover {
    color: var(--themegreen);
    font-size: 24px;
}

.btn {
    position: relative;
    overflow: hidden;
    padding: 10px;
    color: var(--themegreen);
}

.grow-ul::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--themegreen);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.grow-ul:hover::after {
    transform: scaleX(1);
}

/* .my-skill button:hover {
   box-shadow: 2px 2px 3px var(--white);
} */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    /* color: black; */
  }
  
  /* Style the back side */
  .flip-box-back {
    transform: rotateY(180deg);
  }



@media screen and (max-width: 1200px) {
    .container {
        max-width: 990px;
    }

    .btn-group {
        gap: 30px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .btn-group {
        gap: 26px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 570px;
    }

    .btn-group {
        gap: 10px;
        font-size: 15px;
    }

    .introduction {
        width: 70%;
    }

    .media {
        width: 30%;
        justify-content: end;
        align-items: start;
    }

    .profile-img {
        width: 175px;
        height: 175px;
        justify-content: start;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn-group {
        display: none;
    }

    .profile-img {
        width: 137px;
        height: 123px;
        justify-content: start;
    }

    /* .card{
        width: 50%;
    } */
}